[bumpversion]
current_version = 3.6.1

commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:./zoish/__init__.py]

[bumpversion:file:./tests/test_zoish.py]

[bumpversion:file:./zoish/version.py]
