[bumpversion]
<<<<<<< HEAD
current_version = 1.49.0
=======
current_version = 1.51.0
>>>>>>> f4c35da600f9f056e0fcdd772fed207c4067b705
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:./zoish/__init__.py]

[bumpversion:file:./tests/test_zoish.py]

[bumpversion:file:./zoish/version.py]
