appnope
argcomplete
backcall
cloudpickle
colorlog>=4.9,<=5
cycler
debugpy
decorator
distlib
entrypoints
exceptiongroup
fasttreeshap
filelock
fonttools
graphviz
importlib-metadata
importlib-resources
iniconfig
jedi
joblib
kiwisolver
llvmlite
matplotlib
matplotlib-inline
nest-asyncio
numba
numpy
packaging
pandas
parso
patsy
pexpect
pickleshare
Pillow
platformdirs
plotly
pluggy
prompt-toolkit
psutil
ptyprocess
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
shap
six
slicer
statsmodels
tenacity
threadpoolctl
tomli
tornado
tqdm
traitlets
typing_extensions
virtualenv
wcwidth
zipp
