appnope==0.1.3
backcall==0.2.0
category-encoders==2.6.3
cloudpickle==2.2.1
comm==0.1.4
cycler==0.11.0
debugpy==1.7.0
decorator==5.1.1
entrypoints==0.4
fasttreeshap==0.1.6
feature-engine==1.4.0
fonttools==4.38.0
#gpboost==1.2.6
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
ipywidgets==8.1.1
jedi==0.19.1
joblib==1.3.2
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
llvmlite==0.39.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numba==0.56.4
numpy==1.21.6
packaging==23.2
pandas==1.3.5
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.43
psutil==5.9.6
ptyprocess==0.7.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.2
scikit-learn==1.0.2
scipy==1.7.3
shap==0.42.1
six==1.16.0
slicer==0.0.7
statsmodels==0.13.5
threadpoolctl==3.1.0
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
typing_extensions==4.7.1
wcwidth==0.2.13
widgetsnbextension==4.0.9
xgboost==1.6.2
zipp==3.15.0
zoish @ git+https://github.com/TorkamaniLab/zoish.git@bb64ddc206f23fe87b799687cf3a45395a582573
appnope==0.1.3
backcall==0.2.0
category-encoders==2.6.3
cloudpickle==2.2.1
comm==0.1.4
cycler==0.11.0
debugpy==1.7.0
decorator==5.1.1
entrypoints==0.4
fasttreeshap==0.1.6
feature-engine==1.4.0
fonttools==4.38.0
gpboost==1.2.6
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
ipywidgets==8.1.1
jedi==0.19.1
joblib==1.3.2
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
llvmlite==0.39.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numba==0.56.4
numpy==1.21.6
packaging==23.2
pandas==1.3.5
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.43
psutil==5.9.6
ptyprocess==0.7.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.2
scikit-learn==1.0.2
scipy==1.7.3
shap==0.42.1
six==1.16.0
slicer==0.0.7
statsmodels==0.13.5
threadpoolctl==3.1.0
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
typing_extensions==4.7.1
wcwidth==0.2.13
widgetsnbextension==4.0.9
xgboost==1.6.2
zipp==3.15.0
zoish @ git+https://github.com/TorkamaniLab/zoish.git@bb64ddc206f23fe87b799687cf3a45395a582573
